
.bigCounter{
    text-align: center;
    padding: 20%;
   
}
.bigCounter div{
 
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
}
.clock {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px; 
}